<% provide(:title, 'Home') %>
<div class="center hero-unit">	
	<h1>Veenda Tasks</h1>
		<h2>
			<p>
			  This is the home page for the Veenda Tasks manager.
			</p>
		</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>