<% if task.owner %>
	<div class="row-fluid tasks">
		<div class="span1"><%= gravatar_for task.owner, size: 26 %></div>
		<div class="span7"><%= task.title %></div>
		<div class="span2"><%= '#' + task.id.to_s %></div>
		<div class="span2"><%= link_to "Assign", '#', class: "btn btn-success" %></div>
	</div>
<% end %>

