<% provide(:title, 'Admin Panel') %>
<h1>Administration Panel</h1>

<div class="btn-group-vertical">
	<%= link_to "Initialize Workspace", init_workspace_path, class: "btn btn-large btn-primary" %>
	
</div>