<% if task.owner %>
<li class="outer">  
  	<%= gravatar_for task.owner, size: 52 %>
  	  <ul>
		<li class="title"><%= task.title %></li>
		<li class="description"><%= task.description %></li>
	  </ul>
	</li>
 <% end %>

