<% if task.owner %>
  <div class="row-fluid tasks">
    <div class="span1"><%= gravatar_for task.owner, size: 52 %></div>
    <div class="span7"><%= task.title %></div>
    <div class="span2"><%= '#' + task.id.to_s %></div>
    <div class="span2" id="task_info"><%= task.task_type.name %></div>
  </div>
<% end %>

