<% provide(:title, 'Summary') %>
<h1><%= @title %></h1>
<div class="row pag-navbar">
	<%= will_paginate %>
</div>
<div class="container" id="task_index">
	<%= render @tasks %>
</div>
<div class="row pag-navbar">
	<%= will_paginate %>
</div>
