<h1>Listing workspaces</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workspaces.each do |workspace| %>
  <tr>
    <td><%= link_to 'Show', workspace %></td>
    <td><%= link_to 'Edit', edit_workspace_path(workspace) %></td>
    <td><%= link_to 'Destroy', workspace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workspace', new_workspace_path %>
