<div class="row">
	<div class="col-md-6">
		<%= "Developer: #{kanban_test.developer.full_name}" %>
	</div>
	<div class="col-md-6">
		<%= "Tester: #{kanban_test.tester.full_name}" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= "Description: #{kanban_test.description}" %>
	</div>
</div>
